{{ define "main" }}
<!DOCTYPE html>
<html lang="en">
<head> 
</head>
<body> 
<div class="img">
    <img class="img_per" src=/Border_top.svg>
</div>
<div>
    <h1 style="color: #b5830a;">Welcome to the Angel and Ray Wedding website!</h2>
    <br>
    <p>
        <li>The ceremony starts at 3PM, so please aim to arrive 30 minutes before to allow plenty of time</li>
        <br>
        <li>We have not included children at our wedding and respectfully ask that no under 16's attend our special day.</li>
        <br>
        <li><strong>We have decided to cancel the venue arrangements at Forty Hall and we are hoping to have refreshments at Archway Methodist Church after the ceremony.</strong></li>
    </p>
    <br>
</div>
<div>
    <h2>Travel</h2>
    <p>
        <li>Church address: <a style="" target="_blank" href="https://maps.apple.com/?q=Archway+Methodist+Church,Central+Hall+Buildings,Archway,N19+3TD">Archway Methodist Church, Central Hall Buildings, Archway,  N19 3TD</a></li>
        <li>Parking for the church is very limited in the nearby residential roads.</li>
        <li>We recommend using public transport where possible:</li>
        <li>Northern Line to Archway Station</li>
        <li>Routes 4, 17, 41, 43, 134, 143, 210, 234, 263, C11 and W5 all pass close to the church or terminate at Archway.</li>
    </p>
</div>
<div>
    <h2>RSVP</h2>
    <p>Please RSVP via the WhatsApp number or email provided on your invite</p>
</div>
<div>
    <img class="img_per" src=/Border_bot.svg>
</div>
</body>
{{ end }}
